/* Formulario */
form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input,
textarea {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

/* Enlaces de navegación */
a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

form {
  background: gray;
  padding: 35px;
  width: 500px;

}

#alert {
  font-size: 14px;
  margin-top: 5px;
  color: #721c24;
  /* padding: 10px;
  border-radius: 4px;
  margin-top: 5px; */

}